.websiteLink {
  display: block;
  color: #9C27B0;
  text-align: center;
  font-family: $p-font;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: #ff1744;

  &:hover {
    color: #FF5722;
  }
}
