.player-container {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

.mobile-about {
  display: none;
  width: 50%;

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-top: 15px;
    font-weight: bolder;
    line-height: 2em;
    text-align: left;
  }
}

.side-emoji {
  font-size: 1.5rem;
  padding-right: 10px;
}

.side-image {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.colour-text {
  color: #E91E63;
  font-weight: bolder;
}

.force-show {
  display: block;
}

h4 {
  color: #8C95AA;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 24px;
  padding-top: 10px;
}

.preferences-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEBE7;

  &.hidden {
    width: 0vw;
  }

  .preference {
    width: 33.3%;
    height: 33.33%;
    border: 1px dotted #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 1px #333333;
      transition: all 0.5s ease-in-out;
    }

    h4 {
      color: #9068BE;
      font-weight: bolder;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.player {
  display: inline-block;
  overflow: hidden;

  &.force-hide {
    display: none;
  }
}

.player-instructions-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  transition: color 0.5s ease;

  p {
    cursor: pointer;

    &:hover {
      color: #E91E63;
    }
  }
}

.video-container {
  position: relative;
  background-color: #000;
  display: block;
  overflow: hidden;

  video {
    // video ratio 16:9
    width: 62.22vw;
    height: 35vw;
    margin-bottom: -3px;
    object-fit: inherit;
  }

  .emojis {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 10px;
    right: 10px;

    .emoji {
      padding: 15px;
      cursor: pointer;
    }
  }
}

.preferences-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: slide-in 1s ease;
  cursor: pointer;

  @keyframes slide-in {
    from {transform: translateX(-100vw)}
    to {transform: translateX(0)}
  }

  .close-img {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: #E91E63;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9068BE;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    padding: 20px;
  }
}

.timeline-wrapper {
  display: flex;
}

.timeline-button {
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

  .play-video, .pause-video {
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    border-right: 1px solid #FFF;
    background: #f2c640;
  }

  .pause-video {
    display: none;
  }
}

.timeline {
  width: calc(100% - 75px);
  position: relative;
  height: 50px;
  padding-top: 0;
  background-color: #F2C640;
}

.intro {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .intro-slide {
    width: 80%;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 25px;
    display: flex;
  }
}

.time-marker {
  position: absolute;
  height: 100%;
  width: 2px;
}

.empty-time-marker, .filled-time-marker {
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

.empty-time-marker {
  width: 100%;
}

.filled-time-marker {
  width: 0;
  background-color: #fff;
}

.marker {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  width: 30px;
  height: 30px;
  background-image: url('/marker.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.me {
  left: 5%;
}

.work {
  left: 44%;
}

.passions {
  left: 79%;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  background: #fff;
  border-radius: 1px;
  padding: 10px;
  z-index: 10;
  padding: 10px;

  img {
    width: 100%;
  }
}

.marker:hover .tooltip {
  display: block;
}

.info-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 25px;
  margin-bottom: 10px;
  cursor: pointer;

  .tooltip {
    width: 200px;
    left: auto;
    transform: none;
    right: 0;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
  }

  h3 {

  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.interaction {
  position: absolute;

  .interaction-emoji {
    cursor: pointer;

    .user-comment {
      color: #8C95AA;
      padding-top: 10px;
    }

    .interaction-name {
      opacity: 0;
      position: relative;
      margin-bottom: 10px;
      border-radius: 2px;
      padding: 5px;
      background: #FFF;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: 0.8rem;
      transition: opacity 0.5s ease;
    }

    .interaction-name:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover .interaction-name {
      opacity: 1;
      color: #600473;
    }
  }

  .interaction-new {
    display: inline;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(244, 0, 118, 0.6);
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(244, 0, 118, 0.6);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
}

.message-form {
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #FFF;
  padding: 30px;
}

.emoji-form-container {
  position: absolute;
  bottom: 10%;
  right: 10%;
  padding: 30px;
  background-color: #FFF;
}

.player-container {
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    color: #8C95AA;
    padding: 25px;
    padding-left: 0;
  }

  input, textarea {
    padding: 0 5px;
    width: 100%;
    border: none;
    border-bottom: 1px dotted #9068BE;
    background: none;
    color: #8C95AA;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    // background-color: #4ddce1;

    &:focus {
      outline: none;
      color: #8C95AA;
    }

    &:invalid {
      box-shadow: none;
    }
  }

  .buttons {
    margin-top: 30px;
  }

  .buttons button {
    line-height: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    margin: 5px;
  }
}

@media (max-width: 930px) {
  .player {
    display: none;
  }

  .mobile-about {
    display: block;
    width: 80%;

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;
      padding-top: 15px;
      font-weight: bolder;
      line-height: 1.5em;
      text-align: left;
    }

    .button-to-video {
      display: none;
    }
  }

  .emoji-form-container,
  .message-form,
  .emojis {
    display: none;
  }
}
