.scrolling_nav {
  width: 125px;
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: 500;
}

.scrolling_nav_wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .page_number {
    position: absolute;
    margin: 40px;
    font-family: $h2-font;
    font-size: $number-size;
    text-decoration: underline;
  }

  .vertical_line {
    border-right: 1px solid #000;
    width: 50%;
    position: absolute;
  }

  .next, .previous {
    width: 100%;
    text-align: center;
    font-family: $nav-font;
    font-size: $right-nav-size;
    text-decoration: none;
    color: #000;
    line-height: 1.5em;
    cursor: pointer;

    &:hover {
      color: #D500F9;
    }
  }

  .scroll_links {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &.single {
    .top {
      top: 20vh;
      height: calc(30vh - 1.5em);
    }
    .bottom {
      top: calc(50vh + 1.5em);
      height: calc(30vh - 1.5em);
    }
  }

  &.double {
    .top {
      top: 20vh;
      height: calc(30vh - 3em);
    }
    .bottom {
      top: calc(50vh + 3em);
      height: calc(30vh - 3em);
    }
  }
}

.fa.fa-home {
  position:absolute;
  font-size: 3em;
  bottom: 0em;
  right: 1em;
  color: #7986CB;
  z-index: 505;
}

@media (max-width: 576px) {
  .scrolling_nav {
    width: 90px;
  }

  .scrolling_nav_wrapper {
    .next, .previous {
      font-size: 20px;
    }
  }
  .page_number {
    display: none;
  }
}
