.img-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.Slide .img-background {
  background-size: contain;
}

.case-study-name {
  padding: 10px;
  overflow: hidden;
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.case-study-heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  color: #FFF;
  text-shadow: 2px 2px 4px #333333;
  text-align: center;
  margin-bottom: 25px;

  @media (max-width: 650px) {
    font-size: 2.5rem;
  }
}

.itemOptions.case-study-button {
  margin-top: 65px;

  @media (max-width: 650px) {
    display: flex;
  }
}

.technologies, .scroll-text {
  color: #FFF;
  line-height: 1.8rem;
}

.technologies {
  color: #FFD700;
  text-shadow: 0.5px 0.5px 0px #333333;
}

.scroll-text {
  padding-top: 15px;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 55px;
  z-index: 30;
}

.mouse {
  width: 34px;
  padding: 10px 13px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 25px;
  opacity: 0.75;
}

.scroller {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #FFF;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


.info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #333333;
  z-index: 0;
  display: flex;

  &.code-highlight {
    transform: translateX(0);
  }

  .module-content {
    max-width: 40vw;
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;

    @media (max-width: 650px) {
      max-width: 80vw;
    }
  }

  li {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-shadow: 1px 1px 2px #333333;
  }
}

.highlight-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #FFF;
  color: #8C95AA;
  text-shadow: none;
}

.overlay {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.arrow {
  z-index: 30;
  position: fixed;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #333333;
  bottom: 5vh;
  right: 5vh;
  cursor: pointer;
}

.slide {
  height: 100vh;
}

.linkButton.caseStudy {
  margin: 50px;
}
