.img-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.case-study-name {
  padding: 10px;
  overflow: hidden;
  display: block;
}

.case-study-heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.5rem;
  color: #FFF;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px #333333;
  text-align: center;
  margin-bottom: 25px;
  z-index: 30;
}


.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 55px;
  z-index: 30;
}

.mouse {
  width: 34px;
  padding: 10px 13px;
  height: 55px;
  border: 2px solid #E91E63;
  border-radius: 25px;
  opacity: 0.75;

}

.scroller {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #E91E63;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


.border {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 5vw;

  transition: color 0.25s;
  position: relative;
  vertical-align: middle;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent; // Using inset box-shadow instead of border for sizing simplicity

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.border {
  z-index: 30;
  &::before,
  &::after {
    border: 2px solid transparent; // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  // Hover styles
  &.active::before,
  &.active::after {
    width: 100%;
    height: 100%;
  }

  &.active::before {
    border-top-color: #E91E63; // Make borders visible
    border-right-color: #E91E63;
    transition:
      width 0.25s ease-out, // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &.active::after {
    border-bottom-color: #E91E63; // Make borders visible
    border-left-color: #E91E63;
    transition:
      border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s, // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}


.info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px 2px #333333;
  z-index: 0;
  transform: translateX(100vw);
  display: flex;

  &.code-highlight {
    transform: translateX(0);

  }

  .module-content {
    max-width: 35vw;
    text-align: right;
    line-height: 1.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;

    @media (max-width: 650px) {
      max-width: 80vw;
    }
  }

  li {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-shadow: 1px 1px 2px #333333;
  }
}

.highlight-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #333333;
}

.overlay {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.arrow {
  z-index: 30;
  position: fixed;
  font-size: 60px;
  color: #FFF;
  bottom: 5vh;
  right: 5vh;
  cursor: pointer;
}

.Slide {
  position: relative;
}
