%section#about
  .scrolling_nav
    .scrolling_nav_wrapper.double
      .page_number 02
      .vertical_line.top
      .scroll_links
        %a.previous{href: '#home'} PREV
        %br
        %a.next{href: '#projects'} NEXT
      .vertical_line.bottom

  %h2.about_behind ABOUT

  .color_wrapper
    .color_div
      .about_text
        %p Hello! My name is <em>Marian</em>, I am a <em>front-end developer & designer</em> with a legal background, based out of Toronto.
        %p Currently, I'm enrolled in the Multimedia Design and Development program at Humber College. Although I have explored different areas, my recently discovered passion is interactive experiences.
        %p Beyond my career, I love history, meeting new people and learning about different cultures.
