%section#about
  .scrolling_nav
    .scrolling_nav_wrapper.double
      .page_number 02
      .vertical_line.top
      .scroll_links
        %a.previous{href: '#home'} PREV
        %br
        %a.next{href: '#projects'} NEXT
      .vertical_line.bottom

  %h2.about_behind ABOUT

  .color_wrapper
    .color_div
      .about_text
        %p A determined, proactive, and versatile interactive developer, internationally trained lawyer, and licensed paralegal in Ontario, who truly enjoys creating beautiful and user friendly experiences. Passionate about interactivity, nature, and traveling. A thoughtful and creative woman who is in a constant learning quest, looking forward to becoming part of a team where people can grow and learn from each other both as professionals and human beings.
        %p
          %br
          %br
          %a.websiteLink{href:'https://s3.amazonaws.com/marianserna/case_studies/Marian_Serna_Resume.pdf', download: true} DOWNLOAD RESUME
