%section#about

  %p.about_behind ABOUT
  .color_div
  .about_text
    %p Hello! My name is <em>Marian</em>, I am a <em>front-end developer & designer</em> with a legal background, based out of Toronto.

    %p Currently, I'm enrolled in the Multimedia Design and Development program at Humber College. Although I have explored different areas, my recently discovered passion is interactive experiences.

    %p Beyond my career, I am a happy woman who loves history, meeting new people and learning about different cultures. I grew up on a coffee farm in Colombia, and...etc



  .scrolling_nav
    .scrolling_nav_wrapper
      .page_number 02
      .vertical_line.top_half
      %a.next{href: '#'} NEXT
      .vertical_line.bottom_half
