%section#contact

  .scrolling_nav
    .scrolling_nav_wrapper.single
      .page_number 04
      .vertical_line.top
      .scroll_links
        %a.previous{href: '#projects'} PREV
      .vertical_line.bottom

  %a.house{href: '#home'}
    %i.fa.fa-home

  %h2.contact_behind REACH ME

  .color_wrapper
    .color_div
      .contact_text
        %p.email marianhalliday@gmail.com
