%section#contact

  .scrolling_nav
    .scrolling_nav_wrapper.single
      .page_number 04
      .vertical_line.top
      .scroll_links
        %a.previous{href: '#projects'} PREV
      .vertical_line.bottom
      %a{href: '#home'}
        %i.fa.fa-home

  %h2.contact_behind REACH ME
  .color_div
    .contact_text
      %p Hi there!
      %p If you'd like to get in touch, just drop me a line!
      %p.email marianhalliday@gmail.com
