%nav
  %ul.navigation
    %li
      %a{href: '#home'} Home
    %li
      %a{href: '#about'} About
    %li
      %a{href: '#current'} Current Projects
    %li
      %a{href: '#skills'} Skills
    %li
      %a{href: '#portfolio'} Portfolio
    %li
      %a{href: '#contact'} Contact
    %li
      %a{href: '#blog'} Blog

.menu-trigger
  .bar
  .bar
  .bar
