%nav
  %ul.navigation
    %li
      %a{href: '#home'} Home
    -# %li
    -#   %a{href: '#about'} About
    %li
      %a{href: '#current'} Projects
    %li
      %a{href: '#skills'} Software
    %li
      %a{href: '#portfolio'} Work
    %li
      %a{href: '#blog'} Latest Posts
    %li
      %a{href: '#contact'} Contact

.menu-trigger
  .bar
  .bar
  .bar
