%nav
  %ul.navigation
    %li
      %a{href: '#home'} Home
    %li
      %a{href: '#about'} About
    %li
      %a{href: '#current'} Projects
    %li
      %a{href: '#skills'} Software
    %li
      %a{href: '#portfolio'} Portfolio
    %li
      %a{href: '#contact'} Contact
    %li
      %a{href: '#blog'} Latest Posts

.menu-trigger
  .bar
  .bar
  .bar
