%section#projects

  %nav
    %ul.navigation
      %li
        %a{onclick: 'filterGrid(".frontend"); return false;'} 01. Front End
      %li
        %a{onclick: 'filterGrid(".design"); return false;'} 02. Design
      %li
        %a{onclick: 'filterGrid(".backend"); return false;'} 03. Back End
      %li
        %a{onclick: 'filterGrid(".inprogress"); return false;'} 04. In Progress
      %li
        %a{onclick: 'filterGrid("*"); return false;'} 05. See All


  .projects_title PROJECTS
  .grid
    - @portfolio_items.each do |item|
      .grid-item{class: item_classes(item), style: "background-image: url('#{item.background_image.url(:grid_thumb)}')"}
        .grid_content
          %h3.grid_title= item.title
          .grid_links
            %a.grid_link{href: portfolio_item_url(item)} About
            &#8226
            %a.grid_link{href: item.item_url} Website
