%section#projects

  .filter_trigger{onclick: 'toggleFilter();'}
    .filter_content
      .filter_line
      %a.filter CATEGORIES

  %nav.projects
    %ul.navigation
      %li
        %a{onclick: 'filterGrid("frontend"); return false;'} 01. Front End
      %li
        %a{onclick: 'filterGrid("backend"); return false;'} 02. Back End
      %li
        %a{onclick: 'filterGrid("prototyping"); return false;'} 03. Prototyping
      %li
        %a{onclick: 'filterGrid("grid-item"); return false;'} 04. See All

  .scrolling_nav
    .scrolling_nav_wrapper.double
      .page_number 02
      .vertical_line.top
      .scroll_links
        %a.previous{href: '#home'} PREV
        %br
        %a.next{href: '#about'} NEXT
      .vertical_line.bottom

  .projects_title PROJECTS
  .grid
    - @portfolio_items.each_with_index do |item, i|
      .grid-item{class: item_classes(item, i), style: "background-image: url('#{item.background_image.url(:grid_thumb)}')"}
        %a.grid_content{href: portfolio_item_url(item)}
          %h3.grid_title= item.title
