#about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #26C6DA;

  .websiteLink {
    color: #fff;
    text-align: left;
    font-size: 1.3em;

    &:hover {
      color: #212121;
    }
  }

  .about_behind {
    position: absolute;
    font-family: "Fjalla One", sans-serif;
    font-size: 8em;
    color: #fff;
    top: 85vh;
    left: 10vw;
    z-index: 4;
    text-shadow: 2px 2px #212121;
    color: #FFF176;
    transform: rotate(-90deg);
  	transform-origin: left top 0;
  }

  .color_wrapper {
    padding: 30vh 0;
  }

  .color_div {
    margin: 0 auto;
    width: 50vw;
    z-index: 2;
  }

  .about_text {
    font-family: $p-font;
    font-size: 1.1em;
    color: #fff;
    z-index: 3;
    text-align: left;
    padding: 70px;

    p {
      padding: 10px;
      line-height: 1.3em;

      em {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  #about {
    .about_behind {
      font-size: 85px;
      top: 60vh;
      left: 2vw;
    }

    .color_wrapper {
      padding: 23vh 0;
    }

    .color_div {
      width: 60vw;
    }

    .about_text {
      font-size: 12px;
      padding: 20px;
    }
  }
}
