#contact {
  background-color: #F2C640;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form {
  width: 50%;
  text-align: center;
}
