#home {
  width: 100%;
  min-height: 100vh;
  display: flex;

    h1 {
      font-family: $h1-font;
      font-size: $h1-size;
      color: #D500F9;
      text-shadow: 2px 2px #212121;
    }

    .line {
      border-top: 1px solid #9E9E9E;
      margin: 10px 0;
    }

    .title {
      padding: 5px;
    }
  }

  .social_bar {
    width: 10vw;
    position: absolute;
    background: #fff;
    height: 100vh;
    color: #212121;
    z-index: 200;

    nav {
      position: absolute;
      top: 30%;
      left: 25%;
      font-family: $nav-font;
      font-size: $nav-size;
      display: block;

      ul  {

        li {

          a {
            color: #26C6DA;
            text-decoration: none;
            position: relative;
            height: 45px;
            min-width: 250px;
            display: block;
          }

          a:hover {
            color: #D500F9;
          }
        }
      }
    }

    .icons {
      position: absolute;
      bottom: 50px;
      width: 100%;

      .icon {
        text-align: center;
        font-size: 2em;
        padding-bottom: 20px;

        a {
          color: #4DD0E1;
        }

        a:hover {
          color: #D500F9;
        }
      }
    }
  }

  .intro {
    flex-grow: 1;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transform: translateY(-5vh);
    height: 105vh;
    margin-bottom: -5vh;

    .layer {
      width: 110vw;
      height: 110vh;
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .name {
      position: absolute;
      z-index: 100;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 50vw;
      min-width: 250px;
      animation: appear 3s ease;
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }



@media (max-width: 576px) {
  #home{
    .social_bar {
      width: 15vw;
    }

    .intro {
      width: calc(85vw - 90px);

      h2 {
        font-size: 1em;
      }
    }

    .name {
      font-size: 20px;

      .title {
        font-size: 9px;

        h2 {
          color: #000;
        }
      }

      .line {
        display: none;
      }
    }
  }

  #home .social_bar .icons .icon {
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  .social_bar nav {
    display: none;
  }
}
