.normal_project {
  width: 100vw;
  min-height: 100vh;
  background-color: #212121;

  .normal_project_title {
    h2 {
      font-family: $case_study_title_font;
      font-size: $case_study_title_size;
      color: #FFF176;
      text-shadow: 2px 2px #212121;
      width: 100%;
      padding: 50px 20px;
    }
  }

  .normal_project_container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    width: 60vw;

    .the_project, .the_approach {
      width: 50%;
      box-sizing: border-box;
    }

    h3, p {
      font-family: $email-font;
      font-size: $email-font-size;
      text-align: left;
    }

    h3 {
      margin-top: 50px;
      text-align: left;
      color: #fff;
      padding: 25px;
    }

    p {
      font-family: $p-font;
      font-size: $p-size;
      line-height: 1.5em;
      color: #fff;
      padding-left: 25px;
    }
  }
}

@media (max-width: 768px) {
  .normal_project {
    .normal_project_title {
      h2 {
        font-size: 3em;
      }
    }

    .normal_project_container {
      width: 75vw;

      .the_project, .the_approach {
        width: 100%;
      }
    }
  }
}
