@import "reset";

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "font-awesome";

@import "application/pages/*";
@import "application/components/*";
