.project
  #top

  .scrolling_nav
    .scrolling_nav_wrapper.double
      .vertical_line.top
      .scroll_links
        %a.previous{href: root_url(anchor: 'home')} HOME
        %br
        %a.next{href: root_url(anchor: 'projects')} PROJECTS
      .vertical_line.bottom

  .project_container
    = @portfolio_item.project.to_s.html_safe

  %a.house{href: '#top'}
    %i.fa.fa-home
