$h1-font: 'Fjalla One', sans-serif;
$h1-size: 4em;
$h2-font: 'Poppins', sans-serif;
$h2-size: 1.2em;
$p-font: 'Poppins', sans-serif;
$p-size: 1em;
$nav-font: 'Fjalla One', sans-serif;
$nav-size: 2.5em;
$number-size: 4em;
$right-nav-size: 2em;
