.posts {
  display: flex;
  width: 100%;
}

.medium.post_wrapper {
  width: 33.33%;
  -webkit-filter: grayscale(100%);
  text-decoration: none;

  &:hover {
    -webkit-filter: none;
  }

  .post {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .background {
    position: relative;
    bottom: -150px;
    background-color: rgba(245,245,245,0.8);
    margin: 0 15px;
  }

  h2 {
    font-size: 1.5em;
    line-height: 2.5em;
  }
}

@media(max-width: 800px) {
  .posts {
    display: block;
  }

  .post {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
  }
}