* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  font-family: 'News Cycle', sans-serif;
}

body {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: #FF5722;
}

a:hover {
  color: #00BCD4;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
