h2 {
  text-align: center;
  font-size: 4em;
  padding: 1em;
  color: #455A64;
}

@media (max-width: 800px) {
  h2 {
    font-size: 3em;
    padding: 0.5em;
  }
}

#home {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;

  h1 {
    opacity: 0;
    margin-top: 0.3em;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    font-size: 7em;
    color: #455A64;
    text-shadow: 3px 3px 2px #212121;
  }


  li {
    font-size: 1.5em;
    line-height: 1.6em;
    text-align: center;
    opacity: 0;
    color: #FF5722
  }

  img.intro {
    width: 100vw;
    position: absolute;
    bottom: -100vh;
    opacity: 0;
  }
}

#about {
  video {
    width: 100%;
  }
}

#skills {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 0.5em;

    p {
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
  }

  .img-container {
    width: 25vw;
    height: 25vw;
    max-width: 125px;
    max-height: 125px;

    img {
      @include vertical-align();
      width: 100%;
    }
  }

  #resume-link {
    text-align: right;
    display: block;
    margin-right: 4em;
    margin-bottom: 4em;
  }
}

#resume-image img {
  max-width: 100%;
}

.social {
  margin: 1em;
  margin-top: 0;
  text-align: center;
  font-size: 2em;
}

#current {
  p {
    margin: 3em;
    margin-top: 0;
  }
}

.current-projects {
  display: flex;
  flex-wrap: wrap;

  .project {
    padding: 10px;
    width: 33%;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: 800px) {
    .project {
      width: 100%;
    }
  }
}

#blog {
  .blog-container {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-summary {
    width: 50%;
    padding: 3em;
  }

  h3 {
    font-size: 2em;
    margin-bottom: .5em;
    color: #455A64;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5em;
  }
}
