h2 {
  text-align: center;
  font-size: 4em;
  padding: 1em;
}

@media (max-width: 800px) {
  h2 {
    font-size: 3em;
    padding: 0.5em;
  }
}

#home {
  video {
    width: 100%;
  }
  img {
    display: none;
    max-width: 100%;
  }
  @media (max-width: 800px) {
    video {
      display: none;
    }
    img {
      display: block
    }
  }
}

#about {
  video {
    width: 100%;
  }
}

#skills {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 0.5em;

    p {
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
  }

  .img-container {
    width: 25vw;
    height: 25vw;
    max-width: 125px;
    max-height: 125px;

    img {
      @include vertical-align();
      width: 100%;
    }
  }

  #resume-link {
    text-align: right;
    display: block;
    margin-right: 4em;
    margin-bottom: 4em;
  }
}

#resume-image img {
  max-width: 100%;
}

#blog {
  .blog-container {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-summary {
    width: 50%;
    padding: 1em;
  }

  h3 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  p {
    margin-bottom: .5em;
  }
}
