h2 {
  text-align: center;
  font-size: 3em;
  padding: 1em;
  color: #455A64;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2em;
    padding: 1.5em 0.5em;
  }
}

h3.big {
  font-size: 2em;
  padding: 1em;
  margin-left: 3em;
}

@media (max-width: 800px) {
  h3.big {
    font-size: 1.5em;
    padding: 1.5em 0.5em;
    text-align: center;
    margin: 0;
  }
}

p.big {
  font-size: 1.2em;
  line-height: 1.5em;
}

#home {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;

  h1 {
    opacity: 0;
    margin-top: 0.3em;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    font-size: 15vh;
    color: #FF5722;
    text-shadow: 3px 3px 2px #212121;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 5em;
    }
  }

  li {
    font-size: 4vh;
    line-height: 1.6em;
    text-align: center;
    opacity: 0;
    color: #455A64;
  }

  img.intro {
    width: 100vw;
    position: absolute;
    bottom: -100vh;
    opacity: 0;
  }
}

#about {
  p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em;
  }
}

#skills {
  width: 80%;
  margin: 0 auto;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    padding: 0.5em;

    p {
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
  }

  .img-container {
    width: 25vw;
    height: 25vw;
    max-width: 115px;
    max-height: 115px;

    img {
      @include vertical-align();
      width: 100%;
    }
  }

  #resume-link {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-bottom: 3em;
  }
}

.social {
  margin: 1em;
  margin-top: 0;
  text-align: center;
  font-size: 2em;
}

#current {
  width: 80%;
  margin: 0 auto;

  p {
    margin: 3em;
    margin-top: 0;
    text-align: center;
    line-height: 1.5em;
  }
}

.current-projects {
  display: flex;
  flex-wrap: wrap;

  .project {
    padding: 10px;
    width: 33%;
    text-align: center;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 10px solid #455A64;
  }

  @media (max-width: 800px) {
    .project {
      width: 100%;
    }
  }
}

#blog {
  .blog-container {
    display: flex;
    flex-wrap: wrap;
  }

  .blog-summary {
    width: 50%;
    padding: 3em;
  }

  @media (max-width: 800px) {
    .blog-summary {
      width: 100%;
    }
  }

  h3 {
    font-size: 2em;
    margin-bottom: .5em;
    color: #455A64;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5em;
  }
}
